.ant-form-item {
  margin-bottom: 0;
}
.inputItem {
  width: 360px;
  height: 50px;
  font-size: 16px;
  color: rgba(0,0,0,0.5);
  border-radius: 10px;
}
.formItem {
  margin-top: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
}
.buttonItem {
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  width: 360px;
  height: 58px;
  text-transform: uppercase;
  margin-top: 18px;
}
