.sidebar {
  width: 312px;
  padding: 0 16px;
}

.sidebarTitle {
  font-size: 16px;
  line-height: 24px;
  color: #8998ac;
  letter-spacing: 0.44px;
  padding: 25px 0;
}

.content {
  border: 2px solid #E5E5E5;
  border-left: none;
  border-right: none;
  padding: 15px 0;
}
.folders img {
  margin-right: 10px;
}
.sideBarMode {
  display: flex;
  font-size: 14px;
  color: #8998ac;
  font-weight: bold;
  cursor: pointer;
}

.shared {
  margin-top: 25px;
}
