.navigation {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.goHome{
  margin-left: 15px;
  cursor: pointer;
}

.goBack {
  cursor: pointer;
}

.goBack_inactive {
  color: darkgray;
}

.goHome_inactive {
  color: darkgray;
  margin-left: 15px;
}
